@import url("https://fonts.cdnfonts.com/css/satoshi");
@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-body: #171717;
  --color-light: #d4d4d4;
  --text-color: #d4d4d4;
}

body {
  font-family: "Satoshi", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--color-body);
  color: var(--color-body);
}

nav {
  background-color: var(--color-body);
}

.custom-link {
  @apply text-lg font-normal text-[var(--text-color)] transition duration-300;
}

.btnMain {
  @apply bg-[var(--text-color)] px-8 py-3 rounded-full font-semibold text-xl md:ml-8;
}

.header-text {
  @apply font-bold leading-[120%] text-[var(--text-color)] text-[3rem];
  letter-spacing: -0.05em;
}
